<div class="container py-5">
    <main class="text-center shadow-sm p-5 bg-light rounded">
        <h1 class="display-5 fw-bold">Bienvenido a BTG Pactual Fondos Voluntarios</h1>
        <p class="lead">
            En BTG Pactual, te ofrecemos una plataforma sencilla y segura para gestionar tus inversiones, creada para ajustarse a tus necesidades y ayudarte a alcanzar tus metas financieras.
        </p>
        
        <div class="my-4">
            <img src="https://www.btgpactual.com.co/sites/default/files/btg%20pactual%20-%20logo.png" alt="BTG Pactual Logo" class="img-fluid" style="max-width: 150px;">
        </div>

        <p class="lead">Aquí podrás:</p>
        <ul class="list-unstyled mx-auto">
            <li class="mb-3 d-flex align-items-center">
                <i class="bi bi-check-circle-fill text-success me-2"></i> 
                Adquirir fondos de inversión personalizados que se adapten a tus objetivos financieros.
            </li>
            <li class="mb-3 d-flex align-items-center">
                <i class="bi bi-wallet-fill text-primary me-2"></i> 
                Consultar y gestionar tu portafolio en cualquier momento y desde cualquier lugar.
            </li>
            <li class="mb-3 d-flex align-items-center">
                <i class="bi bi-graph-up-arrow text-warning me-2"></i> 
                Revisar tu historial de transacciones y movimientos financieros de manera clara y transparente.
            </li>
            <li class="mb-3 d-flex align-items-center">
                <i class="bi bi-info-circle-fill text-info me-2"></i> 
                Obtener información detallada sobre el rendimiento y el estado de tus fondos.
            </li>
        </ul>
        
        <p class="lead">Además, recibirás asesoramiento especializado para maximizar el rendimiento de tus inversiones y estar siempre al tanto de las mejores oportunidades en el mercado.</p>
        
        <a routerLink="/funds" class="btn btn-primary btn-lg mt-4">Adquirir Inversiones</a>
    </main>
</div>
